.about{
 display: flex;
 position: absolute;
 background-image: url("../images/home-b.png");
 background-position: center;
 background-size: cover;
 height: 90%;
 width: 100%;
}
.tabs{
  margin: 1.5px;
  display: flex;
  justify-content: flex-end;
  border-bottom:2px solid rgb(226, 138, 86);
  background-image: url("../images/tabs-b.jpg");
  background-position: center;
  background-size: 800px 700px;
}
.tabs:hover{
  border-bottom:2px solid rgb(141, 141, 240);
}
.tab{
    padding: 10px;
    margin:10px 0px;
    border: 0;
    background-color: rgb(141, 141, 240);
    color: cornsilk;
}
.tab:focus{
    color: cornsilk;
    background-color: rgb(226, 138, 86);
    box-shadow:0px 10px 0px 0px  rgb(141, 141, 240) ;
       
}
.tab:hover{
    background-color: rgb(124, 124, 245);
    box-shadow:0px 5px 0px 0px  rgb(226, 138, 86) ;
}
.tab:active{
    background-color: rgb(226, 138, 86);
    color: cornsilk;
}
.home {
 display: flex;
 width: 100%;
 height: 41em;

}
.post{
    margin: 0 0 0 20px;
    width: 78%;
    overflow-y: scroll;
}
.post:hover{
    box-shadow: 15px 0px 5px -6px rgb(226, 138, 86);
}
.user{
    width: 25%;
    overflow-y: scroll;
}
.user:hover{
    box-shadow: 15px 0px 5px -6px rgb(226, 138, 86);
}
.email{
    display: flex;
    flex-direction: column;
     justify-content: center;
     font-size: 13px;
     overflow: hidden;
     cursor: default;
}
.card{
    border: 0;
    margin:10px 0px;
    padding: 2px;
    border-radius: 10px;
    background-color: white ;
    border: 4px solid white;
    opacity: 0.7;
    
}
.card:hover{
    margin:10px 0px;
    padding: 2px;
    border: 4px solid rgb(88, 88, 245);
    box-shadow: 0 5px 2px 0px rgb(226, 138, 86);
    opacity: 1;
    
}
.card:active {
    color: rgb(226, 138, 86);
    padding: 2px;
    border: 4px solid rgb(226, 138, 86);
    transition: all 0.003s ease-in-out ;
}
.cardHead{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1.1px solid rgb(158, 155, 155);
    font-size: small;
}
.descrip{
    padding: 10px;
    overflow-wrap: break-word;
}
.nameUser{
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 4px solid white;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
}
.nameUser:hover{
    margin:  2px;
    padding: 2px;
    border: 4px solid rgb(88, 88, 245);
    box-shadow: 0px 2px 2px 0px rgb(226, 138, 86);
    opacity: 1;
}
.nameUser:active{
    color: rgb(226, 138, 86);
    border: 4px solid rgb(226, 138, 86);
    transition: all 0.002s ease-in-out ;
}
.textUser{
    display: flex;
   flex-direction: column;
    justify-content: center;
    cursor: default;
}
.nickname{
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(226, 138, 86);
    border-radius: 10px;
    cursor: default;
}
.nickname:hover{
    border: 2px solid rgb(88, 88, 245);
}
img{
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}