*{
  transition: all 0.091s ease-in-out ;
}
body {
  margin: 0;
  font-family: 'Baskervville', serif;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: rgba(250, 223, 181, 0.607);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
